:root {
    --body-background-color: #f2f2f2;
    --title-text-color: #cccccc;
    --main-body-background-color: #ffffff;
    --main-text-color: #616161;
    --background-text-color: #b6b6b6;
    --task-item-border-color: #e6e6e6;
    --task-item-hover-color: #fafafa;
    --task-item-checked: #5dc2af;
    --action-bar-text-color: #888888;
    --task-filter-border-color: #ebdfdf;
}
