@import "colors.css";

.todo_tasks {
    background-color: var(--main-body-background-color);
    min-height: 253px;
}

.todo_tasks_item + .todo_tasks_item {
    border-top: 1px solid var(--task-item-border-color);
    clear: both;
}

.todo_tasks_item:hover {
    background-color: var(--task-item-hover-color);
}

.todo_tasks_view {
    display: flex;
    flex-grow: 1;
    min-height: 64px;
    color: var(--main-text-color);
    align-items: center;
}

.tasks_item_status {
    flex-shrink: 0;
    margin-left: 12px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    appearance: none;
    -webkit-appearance: none;
    border: 1px var(--task-item-border-color) solid;
    border-radius: 50%;
}

.tasks_item_status:checked {
    background: url("../images/completed.png") no-repeat center;
    appearance: none;
    -webkit-appearance: none;
    border-color: var(--task-item-checked);
    background-size: 20px 20px;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .tasks_item_status:checked {
        background: url(../images/completed@2x.png) no-repeat center;
        background-size: 20px 20px;
    }
}

.tasks_item_status:checked + span {
    color: var(--title-text-color);
    text-decoration: line-through;
}

.tasks_item_text {
    display: flex;
    flex-grow: 1;
    word-break: break-word;
    font-size: 24px;
    padding: 12px 0;
    border: 0;
    background: none;
}

.tasks_item_delete {
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    border: none;
    background: url("../images/close.png") no-repeat center;
    background-size: 18px 18px;
    margin: -9999px 4px 0 12px;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .tasks_item_delete {
        background: url(../images/close@2x.png) no-repeat center;
        background-size: 18px 18px;
    }
}

.tasks_item_delete:focus {
     margin-top: 0;
 }

.todo_tasks_view:hover .tasks_item_delete {
    margin-top: 0;
}
